@mixin transition-link {
    &::after {
        content: "";
        display: block;
        left: 0;
        bottom: -1px;
        height: 1px;
        width: 100%;
        background-color: $color-black;
        position: absolute;
        opacity: 0;
        transition: all 0.3s;
    }
}

@mixin transition-hover {
    &::after {
        content: "";
        display: block;
        left: 0;
        bottom: -1px;
        height: 1px;
        width: 100%;
        background-color: $color-black;
        position: absolute;
        opacity: 1;
    }
}

@mixin svg-pattern ($url, $pos) {
    content: '';
    background-image: $url;
    background-position: $pos;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    width: 100%;
    z-index: 1;
}