///////////////////////////////////
///////// COLORS
$color-primary: #2d2640;
$color-secondary: #95a9c6;

$color-primary-dark: #2b272f;
$color-gray-dark: #837d87;
$color-gray-light: #fafafa;
$color-black: #2d2a31;
$color-white: #ffffff;

///////////////////////////////////
///////// FONT SIZE
$font-main: 'Karla', sans-serif;
$font-heading: 'DM Serif Display', serif;

